@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
/* Agrega estos estilos al principio del archivo */

/* Estilos para la barra superior */
.top-bar {
    background-color: #004643;
    color: white;
    padding: 3px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  .language-dropdown {
    position: relative;
    display: inline-block;
    color: #fff; /* Añadido para que el texto sea visible */
  }
  
  #languageBtn {
    background-color: transparent;
    font-size: 15px;
    color: #abd1c6;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  
  .dropdown-content a {
    color: #000;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .language-dropdown:hover .dropdown-content {
    display: block; /* Añadido para mostrar el menú al pasar el ratón */
  }
  
  .social-icons a {
    color: #abd1c6;
    margin-left: 10px;
    font-size: 18px;
  }
  
  /* Agrega estilos específicos para tus iconos de redes sociales si es necesario */
  
/* Estilos básicos para la barra de navegación */
.navbar {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  background-color: rgba(78, 78, 78, 0);
  color: white;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  transition: transform 0s ease, background-color 1s ease;
}

/* Estilos para el logo */
.navbar__brand img {
  height: 70px;
  width: 100px;
  cursor: pointer;
}

/* Estilos para la lista de menú */
.navbar__menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Estilos para cada elemento de la lista de menú */
.navbar__menu li {
  position: relative;
  margin-right: 15px; /* Reducido el margen para mejor apariencia */
}

/* Estilos para los enlaces del menú */
.navbar__menu a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 14px; /* Reducido el tamaño de la fuente */
  padding: 8px 12px; /* Ajustado el relleno */
  border-radius: 5px;
  position: relative;
}

/* Efecto de línea al pasar el ratón para el menú */
.navbar__menu a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0%;
  transition: width 0.3s ease;
}

.navbar__menu a:hover::after {
  width: 100%;
  left: 0;
}

/* Estilos para el despliegue de opciones */
.navbar__submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(78, 78, 78, 0.9);
  border-radius: 0 0 5px 5px;
  z-index: 1;
  transition: opacity 0.3s ease; /* Agregada transición de opacidad */
  opacity: 0;
  white-space: nowrap; /* Hace que el texto no se divida en líneas */
}

.navbar__menu li:hover .navbar__submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 1;
  white-space: nowrap; /* Hace que el texto no se divida en líneas */
}

.navbar__submenu a {
  color: white;
  padding: 8px 12px; /* Ajustado el relleno */
  display: block;
  font-size: 14px; /* Reducido el tamaño de la fuente */
  text-align: left; /* Alineado el texto a la izquierda */
  border: none; /* Eliminado el borde */
  white-space: nowrap; /* Hace que el texto no se divida en líneas */
}

.navbar__submenu a::after {
  content: ''; 
  display: none; /* Asegurémonos de que las líneas no se muestren */
}

.navbar__submenu a:hover {
  background-color: rgba(139, 139, 139, 0.137);
}


/* Estilos para el botón de donar */
.donate-button {
  background-color: #f9bc60;
  color: #333;
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.donate-button:hover {
  background-color: #ddc980;
}


/* Tu código actual de CSS va aquí */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  body {
    width: 100%;
    height: 100%;
    display: 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#004643, #e8e4e6);
    overflow:none; /* Cambia hidden por auto para mostrar la barra de desplazamiento */
  }
  
  html{
    background: linear-gradient(#e8e4e6,#004643);
  }
  
  h1 {
    margin-top: 100px; /* Ajusté el margen superior */
    text-align: center;
    position: relative;
    margin-left: auto;
    z-index: 1;
  }
  
  h1::before {
    content: "";
    display: block;
    width: 80%;
    height: 5px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  } 
  
  
  h1 span {
    border-radius: 5px;
    background-color: #ffffffd0;
    padding: 0 15px;
    color: rgb(0, 0, 0);
    position: relative; /* Añadido para que el z-index funcione correctamente */
    z-index: 2; /* Cambiado a un valor mayor para que quede sobre el h1 */
  }
  
  
  .img-gallery {
    width: 90%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
  }
  
  .img-gallery img {
    width: 100%;
    cursor: pointer;
    transition: 1s;
  }
  
  .img-gallery img:hover {
    transform: scale(1.2);
  }
  
  .ful-img {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0,0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
  }
  
  .ful-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .ful-img img {
    width: 426px;
    max-width: 639px;
  }
  
  @media screen and (max-width:400px) {
    h1 {
      text-decoration: underline;
    }
    h1::before {
      display: none;
    }
    h1 span {
      padding: 0;
    }
  }
  

.video{
    text-align: center;
}

  /* Estilos para el pie de página */
  footer {
    background-color: #001e1d;
    color: #fff;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  footer div {
    max-width: 400px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }
  
  footer h2 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer form label, form textarea, form button {
    margin: 10px 0;
  }
  
  footer button {
    background-color: #188b21;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  footer button:hover {
    background-color: #155a13;
  }
  
  footer .social-icons {
    display: flex;
    justify-content: space-around;
  }
  
  footer .social-icons a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  footer .social-icons a:hover {
    color: #ffc107;
  }
  
  footer .rating-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  footer .rating-buttons button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  footer .rating-buttons button:hover {
    transform: scale(1.2);
  }

